ONFIG_64BIT=y
CONFIG_UML_X86=y
CONFIG_MMU=y
CONFIG_NO_IOMEM=y
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_BINFMT_ELF=y
CONFIG_BINFMT_SCRIPT=y
CONFIG_HOSTFS=y
# net and bbr
CONFIG_NET=y
CONFIG_INET=y
CONFIG_TCP_CONG_ADVANCED=y
CONFIG_TCP_CONG_BBR=y
CONFIG_DEFAULT_BBR=y
CONFIG_NET_SCHED=y
CONFIG_NET_SCH_FQ=y
CONFIG_NET_SCH_DEFAULT=y
CONFIG_DEFAULT_FQ=y
# uml net
CONFIG_UML_NET=y
# CONFIG_UML_NET_ETHERTAP=y
CONFIG_UML_NET_TUNTAP=y
# CONFIG_UML_NET_SLIP=y
# CONFIG_UML_NET_DAEMON=y
# CONFIG_UML_NET_VDE is not set
# CONFIG_UML_NET_MCAST=y
# CONFIG_UML_NET_PCAP is not set
CONFIG_UML_NET_SLIRP=y
# no config
CONFIG_DEBUG_KERNEL=n
CONFIG_IPV6=n
CONFIG_EXPERT=n
CONFIG_EMBEDDED=n
